<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>
</head>
<body>

    <h1>Cadastro de Veiculos</h1>

    <form action="/add" class="container" method="post">

        <div class="row">
            <div class="col-md-6">
                <input type="text " name="modelo" id="modelo" placeholder="modelo" class="form-control">
            </div>
            <div class="col-md-6">
                <input type="text " name="tipo" id="tipo" placeholder="tipo" class="form-control">
            </div>
            <div class="col-md-6">
                <input type="cor " name="cor" id="cor" placeholder="cor" class="form-control">
            </div>
            <div class="col-md-6">
                <input type="ano" name="ano" id="ano" placeholder="ano" class="form-control">
            </div>
            <div class="col-md-6">
                <input type="km " name="km" id="km" placeholder="km" class="form-control">
            </div>
            <div class="col-md-6">
                <input type="estado" name="estado" id="estado" placeholder="estado" class="form-control">
            </div>
            <div class="col-md-6">
                <input type="pag" name="pag" id="pag" placeholder="pag" class="form-control">
            </div>
            <div class="col-md-6">
                <input type="marca" name="marca" id="marca" placeholder="marca" class="form-control">
            </div>
            <div class="col-md-6">
                <input type="leilao" name="leilao" id="leilao" placeholder="leilao" class="form-control">
            </div>
            <div class="col-md-6">
                <input type="preco" name="preco" id="preco" placeholder="preco" class="form-control">
            </div>
        </div>
        <br>
        <div class="row col-xs-12">
            <button type="submit"class="btn-block btn-success">Enviar</button>
        </div>
        
    </form>
    
</body>
</html>